@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <form method="post">

    </form>
    <div class="card custom-card">
        <div class="card-header bg-primary text-">

        </div>
    </div>
}