@model CourseViewModel
@{
    ViewData["Title"] = "Create Course";
}
<div class="container">

    <h1>Create Course</h1>
    <div class="shadow p-3 mb-5 bg-white rounded">
        <form asp-controller="Course" asp-action="CreateCourse" method="post">
            <p>Name</p>
            <input type="text" name="nameId" value="@Model.Name"/><br />
            <input type="checkbox" name="isNew" value="@Model.IsNew"/>
            <p>Is New</p>
            <p>Course Group</p>
            <select asp-for="Id" asp-items="@Model.CourseTypes" class="w3-padding">
                <option>Select Course Type</option>
            </select>
            <p>Course Type</p>
            <select asp-for="Id" asp-items="@Model.CourseGroups" class="w3-padding">
                <option>Select Course Group</option>
            </select>
            <p>Order</p>
            <input type="text" name="visualOrder" />
            <p>Description</p>
            
            <button type="submit" asp-route="admin/courses">Create</button>
        </form>
    </div>
<a href="./" class="w3-text-blue w3-button">Back to list</a>
</div>