@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <form method="post" action="@Url.Action("Login")">
            <fieldset>
                <legend>Welcome!</legend>
                <input type="text" value="@Model.Email" />
                <input type="text" value="@Model.PasswordHash" />
                <button type="submit" onclick="" />
            </fieldset>
        </form>
        <div class="card custom-card">
            <div class="card-header bg-primary text-">
            </div>
        </div>
    }
</body>
</html>